<div class="principalGrid">

    <div class="taskList" [@taskCard]='taskCardAnimation'>

        <div id="">
            <h2>Tareas</h2>
            <form (submit)="searchTasks()">
                <input *ngIf="search.type == 0" placeholder="Buscar Tarea" id="search" [(ngModel)]="search.toSearch" type="text" name="toSearch" (keyup)="searchTasks()">
                <input *ngIf="search.type == 1" placeholder="Buscar por usuario" id="search" [(ngModel)]="search.toSearch" type="text" name="toSearch" [mdAutocomplete]="auto" (keyup)="getSugest($event.keyCode)">
                <md-autocomplete #auto="mdAutocomplete">
                    <md-option *ngFor="let sugest of sugests" [value]="sugest.name">
                        {{ sugest.name }}
                    </md-option>
                </md-autocomplete>
                <br>

                <section class="example-section">
                    <md-slide-toggle class="example-margin" [(ngModel)]="search.type" name="type" (click)="cleanToSearch()">
                        Filtrar por usuarios
                    </md-slide-toggle>
                </section>

            </form>
        </div>

        <div *ngFor="let task of tasks" class="taskElement" [ngClass]="{noneRead: task.toRead == 0, selected: task.id == selectedTask.id, completed: task.progress == 100}">
            <div class="taskContainerData1" (click)="showTask(task)">
                <h5>{{ task.title }}</h5>
                <p>Asignado a: <br>{{ task.userName }}</p>
                <p>Fecha: {{ task.created_at | date }}</p>
            </div>
            <div class="optionIcons">
                <md-icon class="deleteIcon" (click)="deleteTask(task)">delete</md-icon>
                <md-icon class="editIcon" (click)="task.modify = !task.modify">edit</md-icon>
            </div>

            <p class="percentaje">{{task.progress}} %</p>

        </div>

        <div id="paginator">

            <div (onmouseout)="searchTasks()">
                <label>Resultados por pagina:</label>
                <md-slider class="example-margin" min="1" max="100" step="5" [(ngModel)]="search.paginate" name="paginate" (click)="searchTasks()" [thumbLabel]="true"></md-slider>
            </div>

            <md-select placeholder="Pagina:" [(ngModel)]="search.page" name="page" id="selectPaginator">
                <md-option *ngFor="let x of pages" [value]="x" (click)="searchTasks()" (submit)="searchTasks()">
                    {{ x }}
                </md-option>
            </md-select>

            <div>
                <p>Pagina: {{ search.page }} / {{ search.last_page }}</p>
            </div>


        </div>
    </div>


    <!-- Visualizador de Tarea Seleccionada -->
    <div class="seeTaskDiv">
        <div *ngIf="selectedTask.id != null">
            <header>
                <button md-button color="" id="regresarBtn" (click)='animationTaskTwo()'><md-icon>arrow_back</md-icon> Regresar</button>
                <div>



                    <h3>{{ selectedTask.title }}</h3>
                    <p *ngIf="selectedTask.description != null || selectedTask.description != '' " id="description">{{ selectedTask.description }}</p>
                    <br>
                    <p>Asignado a: {{ selectedTask.userName }}</p>
                    <p>Por: {{ selectedTask.createByName }}</p>

                    <div id="selectTaskHeaderTop">
                        <h2>{{ selectedTask.progress }} %</h2>
                        <p>{{ selectedTask.taskProgressVerified }}/ {{ selectedTask.taskProgressLenght }}</p>
                    </div>
                    <div id="selectTaskHeaderBottom">
                        <p>Fecha de creación: {{ selectedTask.created_at | date }}</p>
                        <p *ngIf="selectedTask.last_progress != null">Fecha de U.progreso: {{ selectedTask.last_progress.date | date }}</p>
                    </div>
                </div>

            </header>

            <content>
                <p *ngIf="!showCreateProgress" class="openCreateProgress" (click)="showCreateProgress = !showCreateProgress">Escribir un nuevo progreso
                    <md-icon>create</md-icon>
                </p>
                <p *ngIf="showCreateProgress" class="openCreateProgress" (click)="showCreateProgress = !showCreateProgress">Ocultar
                    <md-icon>close</md-icon>
                </p>

                <app-create-progress *ngIf="showCreateProgress" (newProgressEventEmitter)="newProgress($event)" [id]="selectedTask.id"></app-create-progress>

                <!-- ZONA DE VISTA DE LOS PROGRESOS -->

                <div *ngFor="let progress of selectedTask.taskProgress" class="progress" [ngClass]="{progressEvaluated: progress.progress > 0}">
                    <h5>Progreso:</h5>
                    <p class="messageProgress">{{ progress.message }}</p>
                    <p class="timeProgressSend">Enviado: {{ progress.created_at | date:'fullDate' }}, {{ progress.created_at | date:'hh:mm:ss' }}</p>
                    <p class="timeProgressSend">Enviado por: {{ progress.createByName }}</p>
                    <div *ngIf="progress.observation != null">
                        <h5>Observación:</h5>
                        <p>{{ progress.observation }}</p>
                        <p class="timeProgressSend">Escrito el: {{ progress.readTime | date:'fullDate' }}, {{ progress.readTime | date:'hh:mm:ss' }}</p>
                        <p class="timeProgressSend">Verificado por: {{ progress.modifyByName }}</p>
                    </div>

                    <h3 class="progressPercentaje">{{ progress.progress }} %</h3>
                    <div class="progressOptions">
                        <md-icon [ngClass]="{progressIconActive: progress.progress > 0}" (click)="progress.edit = !progress.edit">assignment_turned_in</md-icon>
                        <md-icon (click)="progress.delete = !progress.delete">delete</md-icon>
                    </div>
                    <app-delete-progress [progress]="progress" *ngIf="progress.delete" (deleteEventEmitter)="deleteProgress($event)"></app-delete-progress>

                    <app-edit-progress [progress]="progress" *ngIf="progress.edit" (updateProgressEvent)="updateProgress($event)">
                    </app-edit-progress>
                    <hr>
                </div>

            </content>

        </div>
        <div *ngIf="selectedTask.id == null" class="preview">
            <button md-button color="" id="returnBtn" (click)='animationTaskTwo()'><md-icon>arrow_back</md-icon> Regresar</button>
            <img src="http://gruporuilo.com/img/logo.png">
        </div>
    </div>

</div>

<app-create-task (createTaskEventEmitter)="createTask($event)" *ngIf="createTaskView" (close)="createTaskView = false"></app-create-task>
<ng-container *ngFor="let task of tasks">
    <app-edit-task [task]="task" *ngIf="task.modify" (modifyEventEmitter)="modifyTask($event)" (closeEventEmitter)="task.modify = !task.modify"></app-edit-task>
</ng-container>

<button md-fab id="createBtn" (click)="createTaskView = !createTaskView">
    <md-icon >note_add</md-icon>
</button>