<div id="headerCard">
    <h2>Tareas</h2>

    <input placeholder="Buscar Tarea" id="search">

</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Nivel</th>
            <th>%</th>
            <th>Ver</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <th>{{ task.id }}</th>
            <th>{{ task.title }}</th>
            <th>{{ task.level }}</th>
            <th>{{ task.status }}</th>

            <th><button md-raised-button color="primary" (click)="task.view = !task.view">Ver</button></th>
            <th><button md-raised-button color="" (click)="task.modify = !task.modify">Modificar</button></th>
            <th><button md-raised-button color="warn" (click)="task.delete = !task.delete" (click)="deleteTask(task)">Eliminar</button></th>

            <app-edit-task [task]="task" *ngIf="task.modify" (modifyEventEmitter)="modifyTask($event)" (closeEventEmitter)="task.modify = !task.modify"></app-edit-task>

            <!-- <app-edit-user [task]="task" [users]="users" *ngIf="task.modify" (editedUserEvent)="update($event)"></app-edit-user>
            <app-view-user [task]="task" *ngIf="task.view"></app-view-user> -->
        </tr>



    </tbody>
</table>

<!-- <button md-fab id="createBtn" (click)="createUserView = !createUserView">
    <md-icon >person_add</md-icon>
</button> -->