<div id="headerCard">
    <h2>Tareas</h2>

    <input placeholder="Buscar Tarea" id="search">

</div>

<div class="principalGrid">

    <div class="taskList">
        <div *ngFor="let task of tasks" class="taskElement" [ngClass]="{selected: task.id == selectedTask.id}">
            <div class="taskContainerData1" (click)="showTask(task)">
                <h5>{{ task.title }}</h5>
                <p>Asignado a: <br>{{ task.userName }}</p>
                <p>Fecha: {{ task.created_at | date }}</p>
            </div>
            <md-icon class="editIcon" (click)="task.modify = !task.modify">edit</md-icon>
            <p class="percentaje">0 %</p>



        </div>
    </div>

    <div class="seeTaskDiv">
        <div *ngIf="selectedTask !== null">
            <header>
                <div>
                    <h3>{{ selectedTask.title }}</h3>
                    <p *ngIf="selectedTask.description != null || selectedTask.description != '' " id="description">{{ selectedTask.description }}</p>
                    <br>
                    <p>Asignado a: {{ selectedTask.userName }}</p>
                    <p>Por: {{ selectedTask.createByName }}</p>

                    <div id="selectTaskHeaderTop">
                        <h2>0 %</h2>
                        <p>0/ {{ selectedTask.taskProgress.length() }}</p>
                    </div>
                    <div id="selectTaskHeaderBottom">
                        <p>Fecha de creación: {{ selectedTask.created_at | date }}</p>
                        <p>Fecha de U.progreso: {{ selectedTask.created_at | date }}</p>
                    </div>
                </div>

            </header>
            <content>
                <div *ngFor="let progress of selectedTask.taskProgress">
                    <h5>Progreso:</h5>
                    <p>{{ progress.message }}</p>
                    <hr>
                </div>
            </content>

        </div>
        <div *ngIf="selectedTask == null">Seleccione una tarea</div>
    </div>

</div>

<app-create-task (createTaskEventEmitter)="createTask($event)" *ngIf="createTaskView" (close)="createTaskView = false"></app-create-task>
<ng-container *ngFor="let task of tasks">
    <app-edit-task [task]="task" *ngIf="task.modify" (modifyEventEmitter)="modifyTask($event)" (closeEventEmitter)="task.modify = !task.modify"></app-edit-task>
</ng-container>

<button md-fab id="createBtn" (click)="createTaskView = !createTaskView">
    <md-icon >note_add</md-icon>
</button>