#search {
    border-radius: 10px;
    padding: 5px 35px 5px 10px;
    border: none;
    margin-bottom: 10px;
    width: 400px;
}

#selectPaginator {
    background: white;
    color: white;
}

#createBtn {
    background: #A401AC;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 3;
}


/* Columna de las tarjetas de las tareas lado izquierdo */

.noneRead {
    background: #CECECE;
}

.toRead {
    background: white
}

.selected {
    background: #009BCA;
    color: white;
}

.completed {
    background: #CDFFCD
}

.taskElement {
    border-bottom: 1px solid #CBCBCB;
    border-right: 1px solid #CBCBCB;
    position: relative;
    transition: .3s;
    cursor: pointer;
}

.taskElement:hover {
    background: #BBE3EC
}

.taskList p {
    font-size: 14px;
    line-height: 120%;
    margin: 0 0 5px 0;
}

.taskList h5 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.taskContainerData1 {
    padding: 5px 50px 5px 10px;
    display: block;
}


/* LADO DERECHO DE LAS CARTAS TASK ... OPCIONES E INFORMACION COMPLEMENTARIA */

.optionIcons {
    position: absolute;
    top: 0;
    right: 0;
}

.deleteIcon {
    opacity: 0;
    transition: .3s;
    color: #777777;
}

.deleteIcon:hover {
    color: #BE3636
}

.taskElement:hover .deleteIcon {
    opacity: 1;
}

.editIcon {
    color: #0280A7;
    cursor: pointer;
    transition: .2s;
}

.editIcon:hover {
    color: #00C3FF
}

.percentaje {
    position: absolute;
    right: 5px;
    bottom: 0px;
}

.taskList {
    width: 250px;
    position: absolute;
    z-index: 2 !important;
    height: 85vh;
    background: white;
    overflow-y: scroll;
}

.principalGrid {
    display: flex;
}

.seeTaskDiv {
    width: 100%;
    padding-left: 250px;
    z-index: 1;
    min-height: 85vh;
    overflow-y: scroll;
}


/* .taskList::-webkit-scrollbar {
    height: 18px;
    width: 18px;
} */

header {
    background: #0493BA;
    color: white;
    padding: 10px 10px 10px 20px;
}

#regresarBtn {
    display: none;
}

header div {
    padding-right: 100px;
    position: relative;
}

header div p {
    font-weight: 300;
    font-size: 12px;
}

#description {
    font-weight: 300;
}

#selectTaskHeaderTop {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

#selectTaskHeaderTop h2,
p {
    margin: 0 0 5px 0;
}

#selectTaskHeaderBottom {
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

#selectTaskHeaderBottom p {
    font-weight: 300;
    font-size: 12px;
    text-align: right;
}


/* Formato de los progresos */

.progressEvaluated {
    background: #E5F7FF
}

.progress h5 {
    margin: 0;
    margin-bottom: 13px;
    font-size: 18px;
}

.progress {
    padding: 5px 80px 5px 10px;
    position: relative;
}

.timeProgressSend {
    font-weight: 300;
    font-size: 11px !important;
}

.progress p {
    font-size: 14px;
}

.progressPercentaje {
    margin: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    text-align: right;
}

.progressOptions {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: block;
}

.progressIconActive {
    color: rgb(122, 199, 7);
}

#paginator {
    /* display: flex;
    justify-content: space-around; */
}

.openCreateProgress {
    color: #0269b5;
    margin: 10px 0px 10px 15px;
    cursor: pointer;
    transition: .3s;
    text-align: right;
}

.openCreateProgress:hover {
    color: #00B40F;
}

@media screen and (max-width: 750px) {
    #search {
        border-radius: 10px;
        padding: 5px 35px 5px 10px;
        border: none;
        margin-bottom: 10px;
        width: 100%;
    }
    .taskList {
        width: 100%;
        height: auto;
        max-height: 100vh;
    }
    #regresarBtn {
        display: block;
        background: black;
    }
    .seeTaskDiv {
        width: 100%;
        padding-left: 0;
        z-index: 1;
        min-height: 100h;
        overflow-y: scroll;
    }
    #selectTaskHeaderBottom {
        position: inherit;
        margin-top: 10px;
    }
    #selectTaskHeaderBottom p {
        text-align: left;
    }
    header div {
        padding-right: 50px;
    }
}