<nav>
    <button md-button color="" (click)='sideNav()'><md-icon>menu</md-icon> Menu</button>
</nav>

<div class="sideNav" [@menu]='state'>
    <h5>USUARIOS</h5>
    <ul>
        <li><button md-button (click)="viewUser()">Lista</button></li>
        <li><button md-button>Crear Usuario</button></li>
    </ul>

    <h5>BITACORAS</h5>
    <ul>
        <li><button md-button>Lista</button></li>
        <li><button md-button>No Leidos</button></li>
    </ul>

    <h5>TAREAS</h5>
    <ul>
        <li><button md-button (click)="viewTareas()">Lista</button></li>
        <li><button md-button (click)="view.createTask = true">Asignar Tarea</button></li>
    </ul>

    <h5>USUARIO</h5>
    <ul>
        <li><button md-button (click)="cerrarSesion()">Cerrar Sesión</button></li>
        <li><button md-button>Perfil</button></li>
    </ul>


</div>

<div class="principal" [@space]="state">
    <div class="principalCard">
        <app-user [users]="users" *ngIf="view.user"></app-user>
        <app-task [tasks]="tasks" *ngIf="view.task"></app-task>
        <app-create-task (newTaskEvent)="createNewTask($event)" *ngIf="view.createTask" (close)="view.createTask = false"></app-create-task>

    </div>

</div>