<div id="headerCard">
    <h2>Mis Tareas</h2>

    <form (submit)="searchTasks()">
        <input placeholder="Buscar Tarea" id="search" [(ngModel)]="search.toSearch" type="text" name="toSearch" (keyup)="searchTasks()">

    </form>

</div>

<div class="principalGrid">

    <div class="taskList" [@taskCard]='taskCardAnimation'>
        <div *ngFor="let task of tasks" class="taskElement" [ngClass]="{selected: task.id == selectedTask.id, completed: task.progress == 100}">
            <div class="taskContainerData1" (click)="showTask(task)">
                <h5>{{ task.title }}</h5>
                <p>Asignado por: <br>{{ task.createByName }}</p>
                <p>Fecha: {{ task.created_at | date }}</p>
            </div>

            <p class="percentaje">{{task.progress}} %</p>

        </div>

        <div (onmouseout)="searchTasks()">
            <label>Resultados por pagina:</label>
            <md-slider class="example-margin" min="1" max="100" step="5" [(ngModel)]="search.paginate" name="paginate" (click)="searchTasks()" [thumbLabel]="true"></md-slider>
        </div>



        <md-select placeholder="Pagina:" [(ngModel)]="search.page" name="page" id="selectPaginator">
            <md-option *ngFor="let x of pages" [value]="x" (click)="searchTasks()" (submit)="searchTasks()">
                {{ x }}
            </md-option>
        </md-select>

        <br><br>
        <p>Pagina: {{ search.page }} / {{ search.last_page }}</p>

    </div>

    <div class="seeTaskDiv">
        <div *ngIf="selectedTask.id != null">
            <header>

                <button md-button color="" id="regresarBtn" (click)='animationTask()'><md-icon>arrow_back</md-icon> Regresar</button>
                <div>
                    <h3>{{ selectedTask.title }}</h3>
                    <p *ngIf="selectedTask.description != null || selectedTask.description != '' " id="description">{{ selectedTask.description }}</p>
                    <br>
                    <p>Asignado a: {{ selectedTask.userName }}</p>
                    <p>Por: {{ selectedTask.createByName }}</p>

                    <div id="selectTaskHeaderTop">
                        <h2>{{ selectedTask.progress }} %</h2>
                        <p>{{ selectedTask.taskProgressVerified }}/ {{ selectedTask.taskProgressLenght }}</p>
                    </div>
                    <div id="selectTaskHeaderBottom">
                        <p>Fecha de creación: {{ selectedTask.created_at | date }}</p>
                        <p *ngIf="selectedTask.last_progress != null">Fecha de U.progreso: {{ selectedTask.last_progress.date | date }}</p>
                    </div>
                </div>

            </header>
            <app-create-progress *ngIf="selectedTask.status == 0" [id]="selectedTask.id" (newProgressEventEmitter)="newProgress($event)"></app-create-progress>
            <content>
                <div *ngFor="let progress of selectedTask.taskProgress" class="progress" [ngClass]="{progressEvaluated: progress.progress > 0}">
                    <h5>Progreso:</h5>
                    <p class="messageProgress">{{ progress.message }}</p>
                    <p class="timeProgressSend">Enviado: {{ progress.created_at | date:'fullDate' }}, {{ progress.created_at | date:'hh:mm:ss' }}</p>
                    <div *ngIf="progress.observation != null">
                        <h5>Observación:</h5>
                        <p>{{ progress.observation }}</p>
                        <p class="timeProgressSend">Escrito el: {{ progress.readTime | date:'fullDate' }}, {{ progress.readTime | date:'hh:mm:ss' }}</p>
                    </div>

                    <h3 class="progressPercentaje">{{ progress.progress }} %</h3>
                    <div class="progressOptions">
                        <md-icon [ngClass]="{progressIconActive: progress.progress > 0}">check</md-icon>
                    </div>



                    <hr>
                </div>
            </content>

        </div>
        <div *ngIf="selectedTask.id == null">Seleccione una tarea</div>
    </div>

</div>