<div id="headerCard">
    <h2>Usuarios</h2>

    <input placeholder="Buscar Usuario" id="search" [(ngModel)]="search.toSearch" type="text" name="toSearch" (keyup)=" definePage()">


</div>
<div class="responsive-table">
    <table>
        <thead>
            <tr>
                <th (click)="nameOrder()">
                    <button md-button>Nombre 
                        <md-icon *ngIf="search.name == 'asc'">arrow_drop_down</md-icon>
                        <md-icon *ngIf="search.name == 'desc'">arrow_drop_up</md-icon>
                    </button>
                </th>
                <th>Correo</th>
                <th (click)="typeOrder()">
                    <button md-button>Tipo 
                            <md-icon *ngIf="search.type == 'asc'">arrow_drop_down</md-icon>
                            <md-icon *ngIf="search.type == 'desc'">arrow_drop_up</md-icon>
                    </button>
                </th>
                <th>Acciones</th>
                <!-- <th>Modificar</th>
                <th>Eliminar</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" [ngClass]="{inactive: user.active == 0}">
                <th class="nameUserTable">{{ user.name | lowercase }}</th>
                <th>{{ user.email | lowercase }}</th>
                <th>
                    <div class="typeUser" [ngClass]="{employer: user.type == 1, admin: user.type == 9, superAdmin: user.type == 10}"></div>
                </th>
                <th><button md-raised-button color="primary" (click)="user.view = !user.view">Ver</button>
                    <button md-raised-button color="" (click)="user.modify = !user.modify">Modificar</button>
                    <button md-raised-button color="warn" (click)="user.delete = !user.delete">Eliminar</button>
                </th>

            </tr>



        </tbody>
    </table>

    <ng-container *ngFor="let user of users">
        <app-edit-user [user]="user" *ngIf="user.modify" (editedUserEvent)="update($event)"></app-edit-user>
        <app-view-user [user]="user" *ngIf="user.view"></app-view-user>
        <app-delete-user [user]="user" *ngIf="user.delete" (deleteUserEvent)="searchUser()"></app-delete-user>
    </ng-container>
</div>

<!-- <md-paginator [length]="search.total" [pageSize]="25" [pageSizeOptions]="[5,10,25,50,100]" (click)="paginator()">
</md-paginator> -->
<hr>
<div id="paginator">

    <div id="informacion">
        <p>Pagina: {{ search.page }} / {{ search.last_page }}</p>
    </div>

    <div (onmouseout)="searchUser()">
        <label>Resultados por pagina:</label>
        <md-slider class="example-margin" min="1" max="100" step="5" [(ngModel)]="search.paginate" name="paginate" (click)="definePage()" [thumbLabel]="true"></md-slider>
    </div>

    <div>
        <md-select placeholder="Pagina:" [(ngModel)]="search.page" name="page" id="selectPaginator">
            <md-option *ngFor="let x of pages" [value]="x" (click)="searchUser()" (submit)="searchUser()">
                {{ x }}
            </md-option>
        </md-select>
    </div>


</div>



<button md-fab id="createBtn" (click)="createUserView = !createUserView">
    <md-icon >person_add</md-icon>
</button>
<app-create-user (close)="onCloseCreate($event)" (create)="createUser($event)" *ngIf="createUserView"></app-create-user>