<div id="headerCard">
    <h2>Usuarios</h2>

    <input placeholder="Buscar Usuario" id="search">

</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Tipo</th>
            <th>Ver</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <th>{{ user.id }}</th>
            <th>{{ user.name }}</th>
            <th>{{ user.email }}</th>
            <th>{{ user.type }}</th>
            <th><button md-raised-button color="primary" (click)="user.view = !user.view">Ver</button></th>
            <th><button md-raised-button color="" (click)="user.modify = !user.modify">Modificar</button></th>
            <th><button md-raised-button color="warn" (click)="user.delete = !user.delete">Eliminar</button></th>

            <app-edit-user [user]="user" [users]="users" *ngIf="user.modify" (editedUserEvent)="update($event)"></app-edit-user>
            <app-view-user [user]="user" *ngIf="user.view"></app-view-user>
        </tr>



    </tbody>
</table>

<button md-fab id="createBtn" (click)="createUserView = !createUserView">
    <md-icon >person_add</md-icon>
</button>
<app-create-user (close)="onCloseCreate($event)" (create)="createUser($event)" *ngIf="createUserView" [users]="users"></app-create-user>