#search {
    border-radius: 10px;
    padding: 5px 35px 5px 10px;
    border: none;
    margin-bottom: 10px;
    width: 400px;
}

#createBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: rgb(255, 64, 129);
}

.employer {
    background: #CCCCCC
}

.admin {
    background: #FFAF03
}

.superAdmin {
    background: #C70404
}

.typeUser {
    border: 1px solid grey;
    width: 17px;
    height: 17px;
    display: block;
    margin: 0 auto;
}

#paginator {
    display: flex;
    justify-content: space-around;
}

.nameUserTable {
    text-transform: capitalize;
}

.inactive {
    opacity: .5;
    background: #C9C9C9;
}

@media screen and (max-width: 750px) {
    .responsive-table {
        overflow-x: scroll;
    }
    #createBtn {
        bottom: 10px;
        right: 10px;
    }
    #search {
        width: 100%;
    }
    #paginator {
        display: block;
        justify-content: space-around;
    }
}